node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.env
.env.*.local
.DS_Store
coverage
.nyc_output
.jest
.vscode
.idea
*.log
.next
.cache
.turbo
.env.test
.env.local
.env.*.local
docs
test
tests
jest.setup.js
docker
.github
